/*style général de la page*/
*{
    font-family:Arial, Helvetica,sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;box-sizing: border-box;
}
body{
    background: rgb(247, 205, 205);
}
p{
    font-size: 1em; /* valeur taille de la police de caractère*/
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}
/*Header, Footer*/
header, footer{
    width: 100%;
    padding: 20px 0px;
    background:rgb(247, 205, 205);
    box-shadow: 0px 0px 15px rgb(243, 148, 148);
}
header{
    border-bottom: 2px solid rgb(243, 148, 148);
    height: 180px;
}
header h1{
    color:#000;
    font-size: 1.5em;width: 90%;
    margin: 0 auto;
    text-align: center;
}
header h2{
    color:#000;
    font-size: 1em;width: 90%;
    margin: 0 auto;
    text-align: center;
}
header h3{
    color:#000;
    font-size: 1em;width: 90%;
    margin: 0 auto;
    text-align: center;
}
footer{
    border-top: 2px solid rgb(243, 148, 148);
}
footer p{
    width: 90%;
    margin: 0 auto;
    color:#000;
    text-align: center;
}
/*Sections*/
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 0px auto;
    box-shadow: 0px 0px 10px rgb(243, 148, 148);
    background-color: rgb(255, 255, 255);
}
section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%
}
/*presentation*/
.photo{
    text-align: center;
}
.photo img{
    width: 120px;
    height: 150px;
    border: 3px solid rgb(243, 148, 148);
    box-shadow: 0px 0px 10px rgb(138, 137, 137);
    border-radius: 10%;
    margin-top: -90px;
}
.presentation{
    border-bottom: 2px dashed rgb(243, 148, 148);
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.reseaux img{
    width: 40px;
    height: 40px;
}
/*bloc formation*/
.formation{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.formation-info{
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 70%;
    margin-left: auto;
}
.formation-logo{
    flex: 0 0 25%;
    max-width: 60px;
}
.formation img{
    width: 100%;
}
.formation h3{
    font-size: 1.2em;
}
.formation h4{
    font-size: 1em;
    font-weight: normal;
}
/*bloc compétences acquises en formation*/
.competence{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.competence-desc{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: right;
    flex: 0 0 75%;
    margin-left: auto;
}
.desc{
    display: flex;
    flex-flow: column wrap;
    flex: 0 1 20%;
    align-items: center;
    margin-bottom: 20px;
}
.desc img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px rgb(138, 137, 137);
}
/*bloc centres d'intérêts*/
.interets{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.interets-desc{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: right;
    flex: 0 0 75%;
    margin-left: auto;
}
.interets .twitter{
    width: 25px;
    height: 25px;
    margin-top: -30px;
    margin-bottom: -10px;
}
/*version ordinateur*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px rgb(243, 148, 148);
    }
    header h1{
        width: 80%;
    }
    .presentation, .contact{
        flex: 0 0 45%;
    }
    .presentation{
        border-right: 2px solid rgb(138, 137, 137);
        padding-right: 20px;
        margin-left:auto;
        border-bottom: none;
    }
    .contact{
        padding-left: 20px;
        margin-left: auto;
    }
    .formation-logo{
        flex: 0 0 10%;
    }
    .formation-info, .formation-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
}
